In [41]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('calories_data.csv')
df

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68.0,190.0,NaN,29.0,105.0,40.8,231.0
1,14861698,female,20.0,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69.0,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34.0,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27.0,154.0,58.0,10.0,81.0,39.8,35.0
...,...,...,...,...,...,...,...,...,...
14995,15644082,female,20.0,193.0,86.0,11.0,92.0,40.4,45.0
14996,17212577,female,27.0,165.0,65.0,6.0,85.0,39.2,23.0
14997,17271188,female,43.0,159.0,58.0,16.0,90.0,40.1,75.0
14998,18643037,male,78.0,193.0,97.0,2.0,84.0,38.3,11.0
14999,11751526,male,63.0,173.0,79.0,18.0,92.0,40.5,98.0

In [43]:
df.dtypes

User_ID         int64
Gender         object
Age           float64
Height        float64
Weight        float64
Duration      float64
Heart_Rate    float64
Body_Temp     float64
Calories      float64
dtype: object

In [44]:
df.isna().sum()

User_ID        0
Gender         0
Age           21
Height         0
Weight        14
Duration       0
Heart_Rate     0
Body_Temp      0
Calories       0
dtype: int64

In [45]:
df['Age'].unique

<bound method Series.unique of 0        68.0
1        20.0
2        69.0
3        34.0
4        27.0
         ...
14995    20.0
14996    27.0
14997    43.0
14998    78.0
14999    63.0
Name: Age, Length: 15000, dtype: float64>

In [46]:
df['Weight'].unique

<bound method Series.unique of 0         NaN
1        60.0
2        79.0
3        71.0
4        58.0
         ...
14995    86.0
14996    65.0
14997    58.0
14998    97.0
14999    79.0
Name: Weight, Length: 15000, dtype: float64>

In [47]:
# col = ['Age','Weight']
# for i in col:
#     x = df[i].median()
#     df[i] = df[i].fillna(x)

In [48]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Weight'] = df['Weight'].fillna(df['Weight'].mean())

In [49]:
df.isna().sum()

User_ID       0
Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64